Install fitparse

In [1]:
pip install fitparse

Requirement already satisfied: fitparse in c:\users\scholtenr\appdata\local\anaconda3\lib\site-packages (1.2.0)Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from fitparse import FitFile

def read_fit_file_to_dataframe(file_path):
    # Create a FitFile object
    fitfile = FitFile(file_path)
    
    # Initialize an empty list to store records
    records = []

    # Iterate over each record in the FIT file
    for record in fitfile.get_messages('record'):
        record_data = {}
        for data in record:
            record_data[data.name] = data.value
        records.append(record_data)
    
    # Convert the list of records to a DataFrame
    df = pd.DataFrame(records)
    
    return df

# Replace 'path_to_your_fit_file.fit' with the actual path to your FIT file
file_path = r'..\Data\Nu_de_beentjes_omhoog_tot_zondag_.fit'  # Replace with the path to your FIT file
df = read_fit_file_to_dataframe(file_path)

# Display the DataFrame
print(df)

      distance           timestamp  enhanced_altitude  enhanced_speed  \
0          0.0 2024-10-10 14:07:26                NaN             NaN
1          NaN 2024-10-10 14:07:26               25.2           1.252
2          NaN 2024-10-10 14:07:27               25.2           1.175
3          NaN 2024-10-10 14:07:28               25.2           0.981
4          NaN 2024-10-10 14:07:29               25.2           0.936
...        ...                 ...                ...             ...
3701   11950.9 2024-10-10 15:09:04               26.6           2.987
3702       NaN 2024-10-10 15:09:05               26.6           2.803
3703       NaN 2024-10-10 15:09:06               26.6           2.666
3704       NaN 2024-10-10 15:09:07               26.6           2.417
3705       NaN 2024-10-10 15:09:08                NaN             NaN

      gps_accuracy  position_lat  position_long  speed  power  heart_rate
0              NaN           NaN            NaN    NaN    NaN         NaN
1              2.0   612657249.0     64821205.0  1.252    NaN         NaN
2              2.0   612657294.0     64821340.0  1.175    NaN         NaN
3              2.0   612657276.0     64821497.0  0.981    NaN         NaN
4              2.0   612657249.0     64821644.0  0.936    NaN         NaN
...            ...           ...            ...    ...    ...         ...
3701           1.0   612651815.0     64830220.0  2.987  258.0         NaN
3702           2.0   612652090.0     64829989.0  2.803  258.0       134.0
3703           2.0   612652354.0     64829785.0  2.666  258.0         NaN
3704           2.0   612652598.0     64829592.0  2.417  258.0         NaN
3705           NaN           NaN            NaN    NaN    NaN         NaN

[3706 rows x 10 columns]

In [3]:
df

,distance,timestamp,enhanced_altitude,enhanced_speed,gps_accuracy,position_lat,position_long,speed,power,heart_rate
0,0.0,2024-10-10 14:07:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2024-10-10 14:07:26,25.2,1.252,2.0,612657249.0,64821205.0,1.252,NaN,NaN
2,NaN,2024-10-10 14:07:27,25.2,1.175,2.0,612657294.0,64821340.0,1.175,NaN,NaN
3,NaN,2024-10-10 14:07:28,25.2,0.981,2.0,612657276.0,64821497.0,0.981,NaN,NaN
4,NaN,2024-10-10 14:07:29,25.2,0.936,2.0,612657249.0,64821644.0,0.936,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3701,11950.9,2024-10-10 15:09:04,26.6,2.987,1.0,612651815.0,64830220.0,2.987,258.0,NaN
3702,NaN,2024-10-10 15:09:05,26.6,2.803,2.0,612652090.0,64829989.0,2.803,258.0,134.0
3703,NaN,2024-10-10 15:09:06,26.6,2.666,2.0,612652354.0,64829785.0,2.666,258.0,NaN
3704,NaN,2024-10-10 15:09:07,26.6,2.417,2.0,612652598.0,64829592.0,2.417,258.0,NaN
3705,NaN,2024-10-10 15:09:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## adjust long from FIT file to normal coordinates

In [4]:
import pandas as pd

# Function to convert 32-bit signed integers to normal coordinates
def convert_to_coordinates(value):
    return value / (2**31) * 180

# Apply the conversion to the DataFrame
df['latitude'] = df['position_lat'].apply(convert_to_coordinates)
df['longitude'] = df['position_long'].apply(convert_to_coordinates)

print(df)

      distance           timestamp  enhanced_altitude  enhanced_speed  \
0          0.0 2024-10-10 14:07:26                NaN             NaN
1          NaN 2024-10-10 14:07:26               25.2           1.252
2          NaN 2024-10-10 14:07:27               25.2           1.175
3          NaN 2024-10-10 14:07:28               25.2           0.981
4          NaN 2024-10-10 14:07:29               25.2           0.936
...        ...                 ...                ...             ...
3701   11950.9 2024-10-10 15:09:04               26.6           2.987
3702       NaN 2024-10-10 15:09:05               26.6           2.803
3703       NaN 2024-10-10 15:09:06               26.6           2.666
3704       NaN 2024-10-10 15:09:07               26.6           2.417
3705       NaN 2024-10-10 15:09:08                NaN             NaN

      gps_accuracy  position_lat  position_long  speed  power  heart_rate  \
0              NaN           NaN            NaN    NaN    NaN         NaN
1              2.0   612657249.0     64821205.0  1.252    NaN         NaN
2              2.0   612657294.0     64821340.0  1.175    NaN         NaN
3              2.0   612657276.0     64821497.0  0.981    NaN         NaN
4              2.0   612657249.0     64821644.0  0.936    NaN         NaN
...            ...           ...            ...    ...    ...         ...
3701           1.0   612651815.0     64830220.0  2.987  258.0         NaN
3702           2.0   612652090.0     64829989.0  2.803  258.0       134.0
3703           2.0   612652354.0     64829785.0  2.666  258.0         NaN
3704           2.0   612652598.0     64829592.0  2.417  258.0         NaN
3705           NaN           NaN            NaN    NaN    NaN         NaN

       latitude  longitude
0           NaN        NaN
1     51.352337   5.433251
2     51.352341   5.433262
3     51.352340   5.433275
4     51.352337   5.433287
...         ...        ...
3701  51.351882   5.434006
3702  51.351905   5.433987
3703  51.351927   5.433970
3704  51.351948   5.433954
3705        NaN        NaN

[3706 rows x 12 columns]

# drop rows with missing values in long or lat

In [5]:
import pandas as pd

# Assuming df1 is already defined and contains 'latitude' and 'longitude' columns

# Check for missing values in 'latitude' and 'longitude' columns
missing_values = df[['latitude', 'longitude']].isnull().sum()
print(f"Missing values before dropping rows:\n{missing_values}")

# Drop rows with missing values in 'latitude' and 'longitude' columns
df_cleaned = df.dropna(subset=['latitude', 'longitude'])

# Check for missing values again to confirm
missing_values_after = df_cleaned[['latitude', 'longitude']].isnull().sum()
print(f"Missing values after dropping rows:\n{missing_values_after}")

# Display the cleaned DataFrame
print(df_cleaned)
df_cleaned

Missing values before dropping rows:
latitude     3
longitude    3
dtype: int64
Missing values after dropping rows:
latitude     0
longitude    0
dtype: int64
      distance           timestamp  enhanced_altitude  enhanced_speed  \
1          NaN 2024-10-10 14:07:26               25.2           1.252
2          NaN 2024-10-10 14:07:27               25.2           1.175
3          NaN 2024-10-10 14:07:28               25.2           0.981
4          NaN 2024-10-10 14:07:29               25.2           0.936
5          NaN 2024-10-10 14:07:30               25.2           1.748
...        ...                 ...                ...             ...
3700       NaN 2024-10-10 15:09:03               26.6           3.109
3701   11950.9 2024-10-10 15:09:04               26.6           2.987
3702       NaN 2024-10-10 15:09:05               26.6           2.803
3703       NaN 2024-10-10 15:09:06               26.6           2.666
3704       NaN 2024-10-10 15:09:07               26.6           2.417

      gps_accuracy  position_lat  position_long  speed  power  heart_rate  \
1              2.0   612657249.0     64821205.0  1.252    NaN         NaN
2              2.0   612657294.0     64821340.0  1.175    NaN         NaN
3              2.0   612657276.0     64821497.0  0.981    NaN         NaN
4              2.0   612657249.0     64821644.0  0.936    NaN         NaN
5              2.0   612657330.0     64821733.0  1.748    NaN         NaN
...            ...           ...            ...    ...    ...         ...
3700           1.0   612651537.0     64830492.0  3.109  258.0         NaN
3701           1.0   612651815.0     64830220.0  2.987  258.0         NaN
3702           2.0   612652090.0     64829989.0  2.803  258.0       134.0
3703           2.0   612652354.0     64829785.0  2.666  258.0         NaN
3704           2.0   612652598.0     64829592.0  2.417  258.0         NaN

       latitude  longitude
1     51.352337   5.433251
2     51.352341   5.433262
3     51.352340   5.433275
4     51.352337   5.433287
5     51.352344   5.433295
...         ...        ...
3700  51.351859   5.434029
3701  51.351882   5.434006
3702  51.351905   5.433987
3703  51.351927   5.433970
3704  51.351948   5.433954

[3703 rows x 12 columns]

,distance,timestamp,enhanced_altitude,enhanced_speed,gps_accuracy,position_lat,position_long,speed,power,heart_rate,latitude,longitude
1,NaN,2024-10-10 14:07:26,25.2,1.252,2.0,612657249.0,64821205.0,1.252,NaN,NaN,51.352337,5.433251
2,NaN,2024-10-10 14:07:27,25.2,1.175,2.0,612657294.0,64821340.0,1.175,NaN,NaN,51.352341,5.433262
3,NaN,2024-10-10 14:07:28,25.2,0.981,2.0,612657276.0,64821497.0,0.981,NaN,NaN,51.352340,5.433275
4,NaN,2024-10-10 14:07:29,25.2,0.936,2.0,612657249.0,64821644.0,0.936,NaN,NaN,51.352337,5.433287
5,NaN,2024-10-10 14:07:30,25.2,1.748,2.0,612657330.0,64821733.0,1.748,NaN,NaN,51.352344,5.433295
...,...,...,...,...,...,...,...,...,...,...,...,...
3700,NaN,2024-10-10 15:09:03,26.6,3.109,1.0,612651537.0,64830492.0,3.109,258.0,NaN,51.351859,5.434029
3701,11950.9,2024-10-10 15:09:04,26.6,2.987,1.0,612651815.0,64830220.0,2.987,258.0,NaN,51.351882,5.434006
3702,NaN,2024-10-10 15:09:05,26.6,2.803,2.0,612652090.0,64829989.0,2.803,258.0,134.0,51.351905,5.433987
3703,NaN,2024-10-10 15:09:06,26.6,2.666,2.0,612652354.0,64829785.0,2.666,258.0,NaN,51.351927,5.433970
3704,NaN,2024-10-10 15:09:07,26.6,2.417,2.0,612652598.0,64829592.0,2.417,258.0,NaN,51.351948,5.433954

In [6]:
import webbrowser
import folium
import pandas as pd

# Create a map centered around the average latitude and longitude of both dataframes
map_center = [df_cleaned['latitude'].mean(), df_cleaned['longitude'].mean()]
mymap = folium.Map(location=map_center, zoom_start=13)

# Add the GPX data to the map with different colors and add distance labels every 5 kilometers with labels
folium.PolyLine(df_cleaned[['latitude', 'longitude']].values.tolist(), color='blue', label='Half Marathon').add_to(mymap)


# Save the map to an HTML file
map_file = "combined_gpx_map.html"
mymap.save(map_file)

# Open the map in a browser
webbrowser.open(map_file)

True